.videocontentsBox{

  display: flex;
  justify-content: center;
  height: 500px;
  margin-top: 80px;
  width: 100%;
  margin-bottom: 0px;

}

.videoBox{
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-around;
  height: 500px

}

.videoBox > iframe{
  width: 484px;
  border-radius: 20%; /*적용안됨*/
}


.imageBox{
  width: 700px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.img1{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.img2{
  display: flex;
  justify-content: space-between;
  width: 100%;

}

.img1 > img{
  width: 40%;
  height: 174px;
  border-radius: 20px;
}

.img1 > p{
  margin-right: 10px;
  color: white;
}

.HYPERFLORATXT{
  font-size: 24px;
}

.img2 > img {
  width: 40%;
  height: 174px;
  margin-right: 60px;
  border-radius: 20px;
}

.img2 > p{
  margin-left: 10px;
  color: white;
}
