/* header 부분 css */

.webHeader{
  display: flex;
  flex-direction: column;
  background-color: gray;
  height: 168px;
  
}


.logologinfindstore{
  display: flex;
  justify-content: space-around;
  margin-left: 35%;
  
}


.loginAndFindStore{
  display: flex;
  justify-content: space-around;
  width: 200px;
}

.routerNav{
  display: flex;
  justify-content: center;
}

.routerNav >  p{
  margin: 30px 30px 30px 30px;
  font-size: 32px;
  color: rgb(124, 102, 99, 100%);
}





/* 여기서 부터 body */


.blueEraserImage{
  margin-bottom: 100px;
}

.arrowBox1{
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 510px;
}

.blueEraserImage > img{
  width: 100%;
  height: 1055px;
}


.blueEraserTextBox{
  position: absolute;
  top: 620px;
  left: 120px;
  width: 604px;
  height: 287px;
}


.blueEraserTextBox > h1 {
  font-size: 64px;
}

.blueEraserTextBox > h3{
  font-size: 40px
} 

.blueEraserTextBox > button{
  width: 224px;
  height: 63px;
  font-size: 36px;
  color: white;
  background-color: rgb(172, 170, 170, 100%);
  
}


.brandStroyBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}


.brandStroyBox > p {
  font-size: 48px;
  margin: 0 auto;
}


.brandStroyBox > button{
  margin-top: 50px;
  width: 244px;
  height: 54px;
  background-color: white;
  border: 2px solid black;
  font-size: 20px;
}


.videocontentsBox{
  background-color: gray;
  display: flex;
  justify-content: center;
  height: 504px;
  margin-top: 80px;

}

.videoBox{
  width: 75%;
  background-color: pink;
  display: flex;
  justify-content: space-around;

}

.videoBox > video{
  width: 484px;
  border-radius: 20px; /*적용안됨*/
}


.imageBox{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.img1{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.img2{
  display: flex;
  justify-content: space-between;
  width: 100%;

}

.img1 > img{
  width: 40%;
  height: 174px;
  border-radius: 20px;
}

.img1 > p{
  margin-right: 10px;
  color: white;
}

.HYPERFLORATXT{
  font-size: 24px;
}

.img2 > img {
  width: 40%;
  height: 174px;
  margin-right: 60px;
  border-radius: 20px;
}

.img2 > p{
  margin-left: 10px;
  color: white;
}

.universeImageBox{
  margin-top: 80px;
  height: 850px;
}

.universeImageBox > img{
  margin-left: 110px;
  width: 85%;
  margin-bottom: 0px;
}



.FLORAGLOWROSEContentsBox{
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 569px;
  left: 555px;
}

.FLORAGLOWROSEText{
  font-size: 48px;
  margin-bottom: 0px;
}

.universeText{
  font-size: 36px;
}

.FLORAGLOWROSEContentsBox > button {
  font-size: 24px;
  width: 184px;
  height: 48px;
  background-color: rgb(255, 255, 255, 100%);
}




.forMySkinContentsBox > h1{
  text-align: center;
  font-size: 64px;
}

.arrowBox2{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  top: 200px;
}



.forMySkin{
  display: flex;
  justify-content: space-around;
  
}

.forMySkinImg{
  width: 302px;
  height: 602px;

}

.forMySkinImg > img{
  width: 100%;
  height: 365px;
}


.forMySkinText > p{
  text-align: center;
}

.productTag{
  font-size: 24px;
  color: rgb(51, 49, 49, 66%);
}

.productName{
  font-size:28px;
}

.productSkill{
  font-size: 24px;
}









/* 여기서 부터 footer */

.footer{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 65px ;
  background-color: gray;
}  


.snsIconBox{
  width: 225px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}

.footerTextContentsBox{
  display: flex;
  justify-content: space-between;
  width: 560px;
}


.selectLanguage{
  padding-top: 100px;
}

.selectLanguage > select{
  border: 3px solid black;
  height: 30px;
}





